<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:data="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd        
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd     
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd        
                           http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="mx.lania.mca.cuestionarios">
        <context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
    </context:component-scan>
    <bean id="emf" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean" 
          p:persistenceUnitName="CuestionariosPU"/>
    <bean id="txManager" 
          class="org.springframework.orm.jpa.JpaTransactionManager" 
          p:entityManagerFactory-ref="emf"/>

    <data:repositories 
        base-package="mx.lania.mca.cuestionarios.oad" 
        entity-manager-factory-ref="emf" 
        transaction-manager-ref="txManager"/>
    <!--
    <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <bean id="springSecurityFilterChain" class="org.springframework.web.filter.DelegatingFilterProxy" />
    -->
</beans>





